//font family
@font-face {
    font-family: '辰宇落雁體 Thin Monospaced';
    src: url('/src/assets/ChenYuluoyan-Thin-Monospaced.ttf') format('truetype');
  }

$font-family-base:cursive,'辰宇落雁體 Thin Monospaced', truetype;