//section-login
.section-login{
    background: url(/public/img/login/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .customerLogin{
        display: flex;
    }
}