//section-plan
.section-plan {
    padding: 0;
    width: 100%;

    .header {
        background-color: #0593D7;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: bold;

        h2 {
            font-size: 20px;
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 20px;

            i {
                margin-right: 5px;
            }
        }
    }

    .dataInfo {
        height: 150px;
        background: url(/img/plan/1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span,
        .download {
            margin-left: 10px;
        }

        span {
            display: block;
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
        }

        .download {
            margin-bottom: 10px;

            button {
                background-color: transparent;
                border: none;
                font-size: 18px;
                font-weight: bold;
                transition: .3s ease;
                cursor: pointer;

                &:hover {
                    color: #0593D7;
                }
            }
        }
    }

    .dateBar {
        background-color: #fff;
        position: relative;

        // &::before {
        //     content: '⟶';
        //     width: 40px;
        //     height: 40px;
        //     text-align: center;
        //     line-height: 40px;
        //     font-size: 10px;
        //     font-weight: bold;
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

        .date {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .start,
            .end {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                font-size: 20px;

                h3 {

                    font-weight: bold;
                    letter-spacing: .1em;
                }

                input {
                    width: calc(50% - 10px);
                    padding: 5px;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    background-color: #eee;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .journeys {
        .service {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: .1em;
                color: #f00;
            }
        }

        .journey {
            display: flex;
            flex-direction: column;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                background-color: #0593D7;

                .date {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-weight: bold;
                    letter-spacing: .1em;
                }

                .week {
                    font-weight: bold;
                    letter-spacing: .1em;
                }
            }

            .add {
                padding: 10px 0;
                background-color: #fff;
                border: none;
                box-shadow: 1px 1px 5px #eee;
                cursor: pointer;
                transition: .3s ease;

                &:hover {
                    background-color: rgb(11, 47, 71);
                    color: #fff;
                }
            }

            .journeyItem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
                // background-color: #faf;
                padding: 10px;

                input[type="time"] {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #ccc;
                    padding: 5px;
                    transition: .3s ease;

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #000;
                    }
                }

                input[type="text"] {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #ccc;
                    padding: 5px;
                    transition: .3s ease;

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #000;
                    }
                }

                .choose {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 10px;

                    button {
                        padding: 7px;
                        background-color: #0593D7;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        transition: .3s ease;
                        cursor: pointer;

                        &:hover {
                            color: #0593d7;
                            background-color: #fff;
                            box-shadow: 1px 1px 1px #ccc;
                        }
                    }

                }
            }

            .editText {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                font-weight: bold;

                & span:first-child {
                    color: #f00;
                }

                button {
                    border: none;
                    background-color: #0593D7;
                    color: #fff;
                    transition: .3s ease;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover {
                        color: #0593D7;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}