header{
    background-color: rgb(11,47,71);
    font-family: $font-family-base;
    font-weight: 500;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logoIndex img{
            vertical-align: top;
        }
        .navbar{
            width: 70%;
            display: flex;
            justify-content: space-evenly;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .loginbar{
            width: 10%;
            display: flex;
            justify-content: center;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}