header{
    background-color: rgba(11,47,71,1);
    font-family: $font-family-base;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 10;
    // &:hover{
    //     background-color: rgba(117, 149, 172, 0.7);
    //     .navigation .navbar a{
    //         color: #ffffff;
    //     }
    // }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logoIndex img{
            vertical-align: top;
        }
        .navbar{
            width: 70%;
            display: flex;
            justify-content: space-evenly;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .loginbar{
            width: 10%;
            display: flex;
            justify-content: center;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}